* {  box-sizing: border-box;
}
.header {
  text-align: center;
  margin-bottom: 30px;
  margin-top: 30px;
  margin-left: 30px;
  margin-right: 30px;
  border-bottom: 3px solid #da6928;
  width: 800px;
  margin: auto;
}

body {
  margin: 0;
}
  
.container{
  margin: auto;
  padding: 0px 30px;
  width: 970px;
  height: 900px;
  background-color: rgba(255,255,245,.2);  
  backdrop-filter: blur(20px);
  border-radius: 10px;
  box-shadow: 0 0 15px #da7e28;
}  

.container form input{
	border: none;
	padding: 5px;
    background-color: transparent;
    border-bottom: 2px solid #202122;
    color: black;
	font-family: Times New Roman;
}
.container form textarea{
	border: 2px solid #da7e28;
	border-radius: 3px;
    background-color: transparent;
    color: black;
	font-family: Times New Roman;
}

.container form button{
    width: 100%;
	padding: 8px 0;
    border: none;
	border-radius: 5px;
    background-color:#da7e28;
	font-size: 18px;
    color: #fff;
}
  
table {
  border: 2px solid #da7e28;
  border-collapse:collapse;
  width: 100%;
  font-size: 14px;
}
  
.navbar {
  overflow: hidden;
  background-color: #da6928;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color:#da7e28;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

hr{
    width: auto;
    height: 5px;
    background-color: #da6928;
}